# Нормализация переводов строк
* text=auto

*.cs      text diff=csharp
*.cshtml  text
*.csproj  text
*.sln     text eol=crlf
*.md      text
*.json    text
*.yml     text
*.yaml    text
*.sql     text
*.sh      text eol=lf
Dockerfile text eol=lf
*.Caddyfile text eol=lf
Caddyfile text eol=lf

# Бинарные файлы (тестовые документы)
*.docx binary
*.pdf  binary
*.xlsx binary
*.eml  text eol=crlf
*.png  binary
*.jpg  binary
